<div class="order box">
  <div>
    order

    <button *ngIf="canEdit()" (click)="edit()">Edit</button>
  </div>

  <div>place: {{ order.placeName }}</div>
  <div>placeUrl: {{ order.placeUrl }}</div>

  <div>start: {{ order.start }}</div>

  <div>finish: {{ order.end }}</div>

  <div>status: {{ order.status }}</div>

  <div>deliveryCost: {{ order.deliveryCost }}</div>

  <div>
    orders:

    <app-user-order
      *ngFor="let userOrder of order.userOrders"
      [userOrder]="userOrder"
      (remove)="remove($event)"
    >
    </app-user-order>
  </div>

  <button (click)="openPopup()">add</button>
</div>
