<div class="order box">
  <div class="options">
    <button *ngIf="canEdit()" (click)="edit()">Edit</button>
  </div>

  <div class="name">{{ order.placeName }}</div>
  <div>{{ order.placeUrl }}</div>

  <div class="essensials">
    <div class="essensials-item">
      start: <br />
      {{ order.start | date: "shortTime" }}
    </div>

    <div class="essensials-item">
      finish: <br />
      {{ order.end | date: "shortTime" }}
    </div>

    <div class="essensials-item">
      status: <br />
      {{ order.status }}
    </div>

    <div class="essensials-item">
      deliveryCost:<br />
      {{ order.deliveryCost }} zł
    </div>

    <div class="essensials-item">
      master:
      <img class="icon" src="{{ order.master?.picture }}" />
      <div class="master-name">
        {{ order.master?.name }}
      </div>
    </div>
  </div>

  <div class="user-orders">
    <app-user-order
      *ngFor="let userOrder of order.userOrders"
      [userOrder]="userOrder"
      (remove)="remove($event)"
    >
    </app-user-order>
  </div>

  <button (click)="openPopup()">add</button>
</div>
