<div class="page" *ngIf="!authorized">
  <google-signin></google-signin>
</div>

<div class="page" *ngIf="authorized">
  <div class="nav-top">
    <img class="app-name" src="/assets/name.png" />
    <img class="nav-avatar" src="{{ profile?.getImageUrl() }}" />
    <div class="nav-username">{{ profile?.getName() }}</div>
  </div>
  <a
    class="btn-floating btn-large waves-effect waves-light green modal-trigger add-order-button"
    data-target="create-order-modal"
  >
    <i class="material-icons">add_shopping_cart</i>
  </a>

  <div class="content">
    <app-order *ngFor="let order of orders" [order]="order"> </app-order>
  </div>
</div>

<app-create-order></app-create-order>
<app-place-user-order></app-place-user-order>

<div #popupContainer></div>
