<div class="page" *ngIf="!authorized">
  <google-signin></google-signin>
</div>

<div class="page" *ngIf="authorized">
  <div class="nav-top">
    <img class="logo" src="/assets/logo.png" />

    <div class="controls">
      <button (click)="createOrder()">Add order</button>
    </div>

    <img class="nav-avatar" src="{{ profile?.getImageUrl() }}" />
    <div class="nav-username">{{ profile?.getName() }}</div>
  </div>

  <div class="content">
    <app-order *ngFor="let order of orders" [order]="order"> </app-order>
  </div>

  <router-outlet></router-outlet>
</div>

<div #popupContainer></div>
