<div class="user-order">
  <div class="content" [class.owner]="owner">
    <img class="avatar" src="{{ userOrder.user?.picture }}" />
    <div class="item">
      <div class="item-name">{{ userOrder.item }}</div>
      <div class="item-options" *ngFor="let option of userOrder.options">- {{ option.name }} - {{ formatPrice(option.price) }}</div>
      <div class="item-comment">{{ userOrder.comment }}</div>
    </div>

    <div class="details">
      <div class="price">
        Item: {{ formatPrice(userOrder.price) }}<br />
        Sides: {{ formatPrice(getOptionsPrice()) }}
      </div>
      <div class="username">
        {{ userOrder.user?.name }}
      </div>
    </div>
    <a #optionsDropdown class="dropdown-trigger btn-flat" href="#" data-target="dropdown1" [attr.disabled]="status !== 'STARTED'">
      <i class="material-icons">more_vert</i>
    </a>

    <ul id="dropdown1" class="dropdown-content">
      <li *ngIf="canRemove()" (click)="removeOrder()">
        <a href="#!"><i class="material-icons">delete_forever</i> Remove</a>
      </li>
      <li (click)="duplicate()">
        <a href="#!"><i class="material-icons">content_copy</i>Duplicate</a>
      </li>
      <li *ngIf="canEdit()" (click)="edit()">
        <a href="#!"><i class="material-icons">edit</i>Edit</a>
      </li>
    </ul>
  </div>
</div>
